

textblob>=0.17.1
pandas
streamlit
numpy
nltk
textblob
spacy
plotly
spacy
requests
beautifulsoup4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

